<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="file:src/main/resources/static/css/reportes.css"/>
</head>
<body>
    <div class="header-flex only-first-page">
        <img src="file:src/main/resources/static/img/logo_izquierdo.png" class="logo logo-left"/>
        <h1>Reporte de Solicitudes de Proyectos por Estado: [[${estado}]]</h1>
    </div>
    <table>
        <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Carrera</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Duración</th>
            <th>Empresa</th>
            <th>Modalidad</th>
            <th>Departamento</th>
            <th>Municipio</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="solicitud : ${solicitudes}">
            <td th:text="${solicitud.titulo}"></td>
            <td th:text="${solicitud.descripcion}"></td>
            <td th:text="${solicitud.carrera.nombre}"></td>
            <td th:text="${solicitud.fechaInicio}"></td>
            <td th:text="${solicitud.fechaFin}"></td>
            <td th:text="${solicitud.duracion} + ' días'"></td>
            <td th:text="${solicitud.empresa.nombre}"></td>
            <td th:text="${solicitud.modalidad.nombre}"></td>
            <td th:text="${solicitud.departamento.nombre}"></td>
            <td th:text="${solicitud.municipio.nombre}"></td>
        </tr>
        </tbody>
    </table>
    <div class="footer">
        <hr class="footer-line"/>
        <div class="footer-content">
            <span class="footer-text">
                Repositorio de Proyectos de la Unidad de Proyección Social - UES FMOcc
            </span>
            <span class="footer-page"></span>
        </div>
    </div>
</body>
</html>